#edit_page.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit
      .panel-body
        .current_image
          %strong.center  Current image
          = image_tag @picture.image.url(:medium)
          
        = render 'form'
